{% extends "root.html" %}
{% load etcetera_tags %}

{% block title %}
   {{ object.name }}
      {% if object.abbreviation %}({{ object.abbreviation }}){% endif %}
{% endblock %}

{% block breadcrumb %}
   <a href="{% url etcetera-home %}">Home</a> &rsaquo;
   <a href="{% url structure-index 'buildings' %}">Buildings</a> &rsaquo;
   {{ object.name }} ({{ object.abbreviation }})
{% endblock %}

{% block content %}
<div id="detail">
   
   <h1>
      {% if user.is_authenticated %}
         <span class="right">
            <a href="{% url equipment-edit object.id %}">edit</a>
         </span>
      {% endif %}
      {{ object.name }} ({{ object.abbreviation }})
   </h1>
   
   <h2>
      On the {{ object.campus }} Campus
   </h2>
   
   <h3>At a glance</h3>
   <div id="graphs">
      
   </div>
</div>
{% endblock %}
