/* @override 
	http://localhost/_media/css/screen.css
	http://localhost/_media/css/print.css
	http://localhost:8000/_media/css/screen.css
*/

body { background-color: #FFF; margin: 0; padding: 0; font: .9em "Helvetica Neue", Helvetica, Arial, sans-serif; z-index: -300; }
a { color: #4A0010; text-decoration: none; }
a:hover { text-decoration: underline; }
a:active { color: #CCC; }
input { font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; }
h1 span.right { display: none; }

.errorlist { color: #f00; font-size: .9em; }
.right { float: right; }
.small { font-size: .8em; }
.head { color: #808080; text-transform: lowercase; text-align: right; }
.priority1 { color: #f00; }
.priority2 { color: #ff7900; }
.priority3 { color: #7e8100; }
.priority4 { color: #008400; }
.priority5 { color: #1f00ff; }
.tablehead { -webkit-border-top-left-radius: 10px; -moz-border-radius-topleft: 10px; -webkit-border-bottom-left-radius: 10px; -moz-border-radius-bottomleft: 10px; background-color: #EAEAEA; vertical-align: middle; color: #666; text-align: right; text-transform: lowercase; font-weight: normal; font-weight: normal; padding: 0 3px 0 10px; }
td.tablehead { width: 150px; }

div#header { height: 120px; border-bottom: 1px solid #333; background-color: #EFEFEF; }
div#header h1 { margin: 0; color: #EEE; }
div#header h1 { height: 120px; background: url(../images/etceteralogo.png) no-repeat; }
div#header p { float: right; font-size: 0.8em; padding-top: 100px; display: none; }

div#barcode { background: url(../images/barcode-250.png) no-repeat; width: 250px; height: 23px; padding-top: 60px; text-align: center; font-weight: bold; letter-spacing: 4px; font-size: 13px; }
div#detail div#barcode { float: left; position: relative; right: 5px; }

div#nav { text-align: center; background-color: #E7E7E7; display: none; }
div#subnav { display: none; }

div#breadcrumb { font-size: .8em; display: none; }

div#content div.wrapper { padding: 10px; background-color: #FFF; -moz-border-radius-bottomleft: 10px; -moz-border-radius-bottomright: 10px; -webkit-border-bottom-left-radius: 10px; -webkit-border-bottom-right-radius: 10px; border-left: 1px solid #AAA; border-right: 1px solid #AAA; border-bottom: 1px solid #AAA; }
div#content p { margin: 0 0 10px 0; padding: 5px 0; }
div#content h1 { border-bottom: 1px solid #333; font-size: 1.5em; margin-top: 5px; }
div#content h1 span.small { font-size: .55em; padding-left: .3em; }
div#content h1 span.right { font-size: .55em; margin: 0; padding-top: 9px; }
div#content h2 { font-size: 1.2em; }

div#list table { border: 1px solid #AAA; width: 100%; border-collapse: collapse; font-size: 10px; }
div#list table tbody tr:first-child { border-bottom: 1px solid #AAA; font-weight: bold; }
div#list table tr { border-bottom: 1px solid #DDD; }
div#list table tr td { border-right: 1px solid #EEE; padding: 2px 5px; }
div#list table tr td:first-child { width: 10px; }
div#list table tr td:last-child { padding-right: 10px; font-size: 10px; width: 250px; border-right: none;}
div#list table tbody tr:last-child { border-bottom: none; }

div.banner { display: none; padding: 8px 8px 8px 55px; margin-bottom: 10px; -moz-border-radius-bottomleft: 10px; -moz-border-radius-topright: 10px; -webkit-border-bottom-left-radius: 10px; -webkit-border-top-right-radius: 10px; }

div#detail h1 { margin-bottom: 0; }
div#detail h1 span.head { color: #AAA; }
div#detail h2 { margin: 0 0 10px 0; padding: 3px; background-color: #DEDEDE; font-size: .8em; }
div#detail h3 { margin: 10px 0; border-bottom: 1px solid #888; color: #444; font-weight: normal; font-style: normal; }
div#detail div.right { width: 450px; margin-left: 20px; }
div#detail div.right h3 { margin-top: 0px; }
div#detail table { font-weight: bold; font-size: 1.1em; }
div#detail table#toprow { width: 100%; }
div#detail table#toprow input { width: auto; }
div#detail td#barcode { text-align: right; }
div#detail table td.head { width: 115px; }
div#detail div.right table td.head { width: 80px; }

div#footer { margin-top: 5px; padding-top: 5px; display: none; }