/* @override 
	http://localhost/_media/css/screen.css
	http://localhost:8000/_media/css/screen.css
*/

body { background-color: #FFF; margin: 0; padding: 0; font: .9em "Helvetica Neue", Helvetica, Arial, sans-serif; z-index: -300; }
a { color: #000; text-decoration: none; }
input, select { font: 14px "Helvetica Neue", Helvetica, Arial, sans-serif; }
h1 input, h1 select { font-weight: bold; }
textarea { font: .9em "Helvetica Neue", Helvetica, Arial, sans-serif; padding: 5px; }
h2 { margin: 10px 0; border-bottom: 1px solid #888; color: #444; font-weight: 200; font-style: normal; font-size: 17px; }

.disabled { color: #BBB; font-weight: normal; }
.drop-pop { width: 250px; height: 23px; text-align: center; font-weight: bold; float: left; position: relative; right: 5px; }
.canceled { background-color: #EEE; }
.head { color: #808080; text-transform: lowercase; text-align: right; font-weight: 200; font-style: normal; }
.note { font-weight: normal; font-size: 11px; color: #797979; }
.padded { padding: 5px; }
.right { float: right; }
.small { font-size: .8em; }
.tablehead, table.detail td:first-child { -webkit-border-top-left-radius: 10px; -moz-border-radius-topleft: 10px; -webkit-border-bottom-left-radius: 10px; -moz-border-radius-bottomleft: 10px; background-color: #EAEAEA; vertical-align: middle; color: #666; text-align: right; text-transform: lowercase; font-weight: normal; width: 160px; display: block; padding: 5px 5px 5px 10px; }
.wrapper { width: 950px; margin: 0px auto; }
.datetime { font-weight: normal; font-size: 13px; }
.active a { background-color: #CCC; cursor: default; color: #333; }

.collapse-content { display: none; width: inherit; }
.collapse-link { color: inherit; }
.collapse-mono { font-family: monospace; font-weight: normal; }

a.add { width: 16px; height: 16px; background-image: url(../images/icons/buttonplu32.png); }
a.remove { width: 16px; height: 16px; background-image: url(../images/icons/buttonmin32.png); }
td.tablehead { width: 150px; }

#header { height: 120px; }
	#header p, #header h1 { margin: 0; }

div.greeting { display: none; }
#nav { display: none; }
#breadcrumb { display: none; }
div.subnav { display: none; }
#searchform { display: none; }
div.banner { display: none; }

#content div.wrapper { padding: 10px; background-color: #FFF; -moz-border-radius: 10px; -webkit-border-radius: 10px; border: 1px solid #000; }
	#content h1 span.right { display: none; }
	#content h1 span.small { font-size: .55em; padding-left: .3em; }
	#content h1 { border-bottom: 1px solid #333; font-size: 1.5em; margin-top: 5px; }
	#content p { margin: 0 0 10px 0; padding: 5px 0; }

table#list { margin: 0px; padding: 0px; border-spacing: 0px; border: 1px solid #AAA; font-size: .85em; width: 100%; }
	table#list td:first-child { padding-left: 8px; font-weight: bold;}
	table#list td:last-child { padding-right: 8px; text-align: right; font-size: 11px; }
	table#list tr:first-child { background-color: #DDD; }
		table#list tr:first-child td { border-bottom: 1px solid #AAA; font-weight: bold; color: #000; }
		table#list tr:first-child td:first-child { border-bottom: 1px solid #AAA; }
	table#list tr a, table#list tr:first-child td { padding-top: 5px; padding-bottom: 5px; }
	table#list a { display: block; }
	table#list td.buttons a { display: inline-block; padding: 0px; }

#barcode { background: url(../images/barcode-250.png) no-repeat; padding-top: 60px; letter-spacing: 4px;  font-size: 13px; text-align: center; }
	#barcode input { text-align: center; letter-spacing: 4px; }

/* Doing the detail page BETTER. */
#headers { width: 100%; display: inline-block; vertical-align: top; }
	#headers ul { list-style-type: none; padding: 4px; margin: 0; background-color: #DEDEDE; font-size: 12px; font-weight: bold; color: inherit;}
	#headers li.created, #headers li.closed { float: right; clear: both; }
	
#actions { display: none; }

#detail { font-size: 15px; }
	#detail h1 { margin-bottom: 0; }
	#detail table td:last-child { font-weight: bold; }

#history ul { list-style-type: none; padding: 0; font-size: 12px; }

.profile { width: 100%; margin-top: 5px; }
	.profile img { width: 200px; -webkit-border-radius: 10px; -moz-border-radius: 10px; border: 1px solid #CCC; }
	.profile td:last-child { width: 740px; vertical-align: top; text-align: left; }
	.profile>tbody>tr>td { vertical-align: top; }
	.profile>tbody>tr>td:first-child { width: 168px; height: auto; text-align: center; vertical-align: top; }

#checkout-print { padding: 10px; border: 1px solid #000; background-color: #EEE; }
table.signature { width: 100%; }
table.signature td:nth-child(even) { border-bottom: 1px solid #000; }
table.signature td:first-child { width: 230px; }
table.signature td:nth-child(3) { width: 50px; }
table.signature td:last-child { width: 100px; }

#times table { width: 75%; margin-top: 5px; margin-bottom: 5px; }
	#times table caption { font-style: italic; font-weight: normal; font-size: .8em; text-align: left; }
	#times table td input { width: 80px; }

#blog div.post { padding: 5px 0; }
	#blog h2 { margin: 0; }
	#blog .post { padding: 0 0 10px 0; }
	#blog p { padding: 0; }

table.pagination { display: none; }

#footer { margin-top: 5px; padding: 5px 0 10px 0; text-align: center; }
		#footer div div:first-child { text-align: center; width: 100%; }
		#footer div div:last-child { display: none; }
	#footer ul { list-style-type: none; margin: 0; padding: 0; }
	#footer li { margin: 0; color: #b3b3b3; font-size: .7em; font-weight: normal; font-style: normal; display: inline; }
