/* @override 
	http://localhost/_media/css/screen.css
*/
body { background-color: #FFF; margin: 0; padding: 0; font: .9em "Helvetica Neue", Helvetica, Arial, sans-serif; z-index: -300; }
a { color: #4A0010; text-decoration: none; }
a:hover { text-decoration: underline; }
a:active { color: #CCC; }
.wrapper { width: 950px; margin: 0px auto; }
.errorlist { color: #f00; font-size: .9em; }
.right { float: right; }
.small { font-size: .8em; }
input { font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; }

div#header { background-image: url(../images/header.png); height: 120px; border-bottom: 1px solid #333; }
div#header p, div#header h1 { margin: 0; color: #EEE; }
div#header a { color: #BBB; }
div#header h1 { height: 120px; background: url(../images/etceteralogo.png) no-repeat; }
div#header p { float: right; font-size: 0.8em; padding-top: 100px; }

div#nav { background-color: #D1D1D1; text-align: center; }
div#nav ul { margin: 0; list-style-type: none; padding: 0; }
div#nav ul li { padding: 0; margin: 0; display: inline; }
div#nav ul li a { padding: 7px 15px; margin: 0; display: inline-block; text-decoration: none; color: #000; text-transform: lowercase; }
div#nav ul li a:hover { background: url(../images/nav_r.png) repeat-x; }
div#nav ul li a#admin { color: #4A0010; font-style: italic; }

div#content div.wrapper { margin-top: 10px; padding: 10px; background-color: #F4F4F4; -moz-border-radius: 10px; -webkit-border-radius: 10px; border: 1px solid #AAA; }
div#content p { margin: 0px; padding: 5px 0; }
div#content h1 { border-bottom: 1px solid #333; font-size: 1.5em; }
div#content h1 span.small { font-size: .55em; padding-left: .3em; }
div#content h2.right { font-size: .8em; margin: 0; position: relative; bottom: 2.7em; }

div#searchform { height: 10px; margin-bottom: 20px; padding: 0px; width: 100%; }
div#searchform form { display: inline-block; }
div#searchform input#q { width: 300px; margin: 0; }
div#searchform input#submit { margin-left: 5px; }

div#list ul { display: block; list-style-type: none; padding: 0; border: 1px solid #AAA; margin-top: 3px; }
div#list ul a { display: block; padding: 7px 10px; }
div#list ul a:hover { background-color: #4A0010; color: #CCC; text-decoration: none; }

table.pagination { color: #CCC; width: 100%; }
table.pagination td#previous { width: 15%; }
table.pagination td#current { text-align: center; color: #000; }
table.pagination td#next { text-align: right; width: 15%; }

div#footer { margin-top: 5px; padding-top: 5px; }
div#footer h4 { margin: 0; }