{% extends "root.html" %}
{% load etcetera_tags %}

{% block title %}Work Orders{% endblock %}

{% block breadcrumb %}<a href="{% url etcetera-home %}">Home</a> &rsaquo; Service{% endblock %}

{% block content %}
<div id="list">   
   <h1><span class="right"><a href="{% url service-new %}">manually add a new work order</a></span>{% if archived %}Archived{% else %}Active{% endif %} Work Order List <span class="small"><a href="{% if archived %}{% url service-index %}{% else %}{% url service-archive %}{% endif %}">view {% if archived %}active{% else %}archived{% endif %}</a></span></h1>
   <div id="searchform">
      <form action="">
         <input type="text" name="q" value="" id="q" />
         <input type="submit" name="submit" value="Search" id="submit" />
      </form>
      {% if q %} <span class="small">(<a href=".">searching for "{{ q }}" — click here to reset</a>)</span>{% endif %}
   </div>
   <ul>
      {% for object in paged_objects.object_list %}
      <li><a href="{% url service-detail object.id %}"><span class="right">{{ object.creation_date|date:'n/j/Y, g:iA' }}</span>{{ object.last_name }}, {{ object.first_name }} — {% if object.equipment %}{{ object.equipment.make.name }} {{ object.equipment.model }} {{ object.equipment.equipment_type.name }} ({% endif %}{{ object.equipment_text }}{% if object.equipment %}){% endif %}</a></li>
      {% endfor %}
   </ul>
   {% paginate %}
</div>
{% endblock %}