{% extends "root.html" %}

{% block title %}Work Orders{% endblock %}

{% block content %}
<div id="list">   
   <h1>{% if archived %}Archived{% else %}Active{% endif %} Work Order List</h1>
   <h2 class="right"><a href="add">manually add a new work order</a></h2>
   <ul>
      {% for order in workorders.object_list %}
      <li><a href="{{ order.id }}">{{ order.last_name }}, {{ order.first_name }} — {% if order.equipment %}{{ order.equipment.make.name }} {{ order.equipment.model }} {{ order.equipment.equipment_type.name }} ({% endif %}{{ order.equipment_text }}{% if order.equipment %}){% endif %} <span class="right">{{ order.creation_date|date:'n/j/Y, g:iA' }}</span></a></li>
      {% endfor %}
   </ul>
   <div class="pagination">
      {% if workorders.has_previous %}
         <a href="?page={{ workorders.previous_page_number }}">&larr; previous</a>
      {% endif %}
      
      <span class="current">Page {{ workorders.number }} of {{ workorders.paginator.num_pages }}</span>
      
      {% if workorders.has_next %}
         <a href="?page={{ workorders.next_page_number }}">next &rarr;</a>
      {% endif %}
   </div>
   <h6><a href="{% if archived %}../{% else %}archive{% endif %}">View {% if archived %}active{% else %}archived{% endif %} work orders</a></h6>
</div>
{% endblock %}