{% extends "etc.html" %}

{% block script %}/_media/js/workform.js{% endblock %}

{% block breadcrumb %}Service Request Form{% endblock %}

{% block content %}
<div class="form">
<h1>Service Request Form</h1>
	<p>Please provide the information requested below, including a description of the request. This information will be sent to our system and you will receive a confirmation email once this request reaches our system.</p>
	<form action="" method="POST">
		{% if form.errors %}
			<p class="error">Please correct the error{{ form.errors|pluralize }} below.</p>
		{% endif %}
		<table>
		   
		   <tr{% if form.work_type.errors %} class="errorlist"{% endif %}><th>{{ form.work_type.label }}</th><td>{{ form.work_type }}</td>
				{% if form.work_type.errors %}<td>{{ form.work_type.errors }}{% else %}<td class="note">{{ form.work_type.help_text }}{% endif %}</td></tr>
				
			<tr{% if form.name.errors %} class="errorlist"{% endif %}><th>{{ form.name.label }}</th><td>{{ form.name }}</td>
				{% if form.name.errors %}<td>{{ form.name.errors }}{% else %}<td class="note">{{ form.name.help_text }}{% endif %}</td></tr>
				
   	   <tr{% if form.department.errors %} class="errorlist"{% endif %}><th>{{ form.department.label }}</th><td>{{ form.department }}</td>
   			{% if form.department.errors %}<td>{{ form.department.errors }}{% else %}<td class="note">{{ form.department.help_text }}{% endif %}</td></tr>
				
	      <tr{% if form.phone.errors %} class="errorlist"{% endif %}><th>{{ form.phone.label }}</th><td>{{ form.phone }}</td>
				{% if form.phone.errors %}<td>{{ form.phone.errors }}{% else %}<td class="note">{{ form.phone.help_text }}{% endif %}</td></tr>
				
   	   <tr{% if form.email.errors %} class="errorlist"{% endif %}><th>{{ form.email.label }}</th><td>{{ form.email }}</td>
   			{% if form.email.errors %}<td>{{ form.email.errors }}{% else %}<td class="note">{{ form.email.help_text }}{% endif %}</td></tr>
				
   	   <tr{% if form.building.errors %} class="errorlist"{% endif %}><th>{{ form.building.label }}</th><td>{{ form.building }}</td>
   			{% if form.building.errors %}<td>{{ form.building.errors }}{% else %}<td class="note">{{ form.building.help_text }}{% endif %}</td></tr>
				
   	   <tr{% if form.room.errors %} class="errorlist"{% endif %}><th>{{ form.room.label }}</th><td>{{ form.room }}</td>
      		{% if form.room.errors %}<td>{{ form.room.errors }}{% else %}<td class="note">{{ form.room.help_text }}{% endif %}</td></tr>
				
			<tr id="coordinator_row"{% if form.coordinator_check.errors %} class="errorlist"{% endif %}><th colspan="2">{{ form.coordinator_check.label }} {{ form.coordinator_check }}</th>
      		{% if form.coordinator_check.errors %}<td>{{ form.coordinator_check.errors }}{% else %}<td class="note">{{ form.coordinator_check.help_text }}{% endif %}</td></tr>
				
			<tr id="equipment_row"{% if form.equipment_text.errors %} class="errorlist"{% endif %}><th>{{ form.equipment_text.label }}</th><td>{{ form.equipment_text }}</td>
      		{% if form.equipment_text.errors %}<td>{{ form.equipment_text.errors }}{% else %}<td class="note">{{ form.equipment_text.help_text }}{% endif %}</td></tr>
				
			<tr id="barcode_row"{% if form.barcode.errors %} class="errorlist"{% endif %}><th>{{ form.barcode.label }}</th><td>{{ form.barcode }}</td>
      		{% if form.barcode.errors %}<td>{{ form.barcode.errors }}{% else %}<td class="note">{{ form.barcode.help_text }}{% endif %}</td></tr>
				
			<tr id="description_row"{% if form.description.errors %} class="errorlist"{% endif %}><th>{{ form.description.label }}</th><td>{{ form.description }}</td>
      		{% if form.description.errors %}<td>{{ form.description.errors }}{% else %}<td class="note">{{ form.description.help_text }}{% endif %}</td></tr>
				
			<tr><th></th><td><input type="submit" value="Submit &rarr;" id="submit" /></td><td></td></tr>
		</table>
	</form>
</div>
{% endblock %}