{% extends "root.html" %}
{% load etcetera_tags %}

{% block title %}Equipment{% endblock %}

{% block breadcrumb %}
   <a href="{% url etcetera-home %}">Home</a> &rsaquo;
   <a href="{% url equipment-index %}">Equipment</a> &rsaquo;
   Counts
{% endblock %}

{% block subnav %}
   <ul>
      <li{% if not view_type %} class="active"{% endif %}>
         <a href="{% url equipment-index %}">Inventory</a>
      </li>
      <li{% if view_type == 'weekly' %} class="active"{% endif %}>
         <a href="{% url equipment-index 'weekly' %}">Checklist</a>
      </li>
      <li{% if view_type == 'counts' %} class="active"{% endif %}>
         <a href="{% url equipment-counts %}">Counts</a>
      </li>
   </ul>
{% endblock %}

{% block content %}
<div id="list">
   <h1>
      Equipment Counts
   </h1>
   
   <table class="list">
      <tr>
         <td>Equipment Type</td>
         <td>Available for Checkout</td>
         <td>Checked Out</td>
         <td>In Repair</td>
         <td>Total</td>
      </tr>
      {% for eqt,counts in count_dict.items %}
         <tr>
            <td>{{ eqt.name }}</td>
            {% for count in counts %}
               <td>{{ count }}</td>
            {% endfor %}
         </tr>
      {% endfor %}
   </table>
</div>
{% endblock %}