{% extends "root.html" %}
{% load etcetera_tags %}

{% block title %}
   Duplicating {{ object.make }} {{ object.model }}{% if object.barcode %} (#{{ object.barcode }}){% endif %}
{% endblock %}

{% block breadcrumb %}
   <a href="{% url etcetera-home %}">Home</a> &rsaquo;
   <a href="{% url equipment-index %}">Equipment</a> &rsaquo;
   <a href="{% url equipment-detail object.id %}">{{ object.make }} {{ object.model }} ({{ object.equipment_type }})</a> &rsaquo;
   Duplicate
{% endblock %}

{% block content %}
<div id="detail">
   <form action="" method="POST">
   <h1>Duplicating {{ object.make }} {{ object.model }}{% if object.barcode %} (#{{ object.barcode }})</h1>
   <div id="duplicate">
      {{ form.duplicate.label }}
      {{ form.duplicate }}
      {{ form.duplicate.errors }}
   </div>
</div>
{% endblock %}