{% extends "root.html" %}
{% load etcetera_tags %}

{% block title %}
   {% if form.initial %}
      Editing {{ object.make }} {{ object.model }}
      {% if object.barcode %}
         ({{ object.barcode }})
      {% endif %}
   {% else %}
      New equipment
   {% endif %}
{% endblock %}

{% block breadcrumb %}
   <a href="{% url etcetera-home %}">Home</a> &rsaquo;
   <a href="{% url equipment-index %}">Equipment Inventory</a> &rsaquo;
   {% if form.initial %}
      <a href="{% url equipment-detail object.id %}">
         {{ object.make }} {{ object.model }} ({{ object.equipment_type }})
      </a>
      &rsaquo; Edit
   {% else %}
      New
   {% endif %}
{% endblock %}

{% block content %}
<div id="detail">
   <form action="" method="POST">
      <div id="headers">
         <div class="drop-pop" id="barcode{% if form.barcode.errors %}-error{% endif %}">
            {{ form.barcode }}
            {% if form.barcode.errors %}
               <br />{{ form.barcode.errors }}
            {% endif %}
         </div>
      
         <h1>
            {% if not object %}
               Adding a new
            {% endif %}
            Equipment
            {% if object %}
               #{{ object.id }} <span class="head">edit mode</span>
            {% endif %}
         </h1>
   
         <ul>
            <li>
               {{ form.on_weekly_checklist.label }}?
               {{ form.on_weekly_checklist }}
               {{ form.on_weekly_checklist.errors }}
            </li>
            <li>
               {{ form.status.label }} {{ form.status }}
               {{ form.status.errors }}
            </li>
         </ul>
      </div>
   
      <div id="actions">
         <h2>Actions</h2>
         <ul>
            <input type="submit" name="save" value="save" id="save" />
         </ul>
      </div>
   
      <div id="brief-information">
         <h2>Brief information</h2>
         <table class="detail">
            <tr{% if form.make.errors %} class="errorlist"{% endif %}>
               <td>{{ form.make.label }}</td>
               <td>{{ form.make }}{{ form.make.errors }}</td>
            </tr>
            <tr{% if form.model.errors %} class="errorlist"{% endif %}>
               <td>{{ form.model.label }}</td>
               <td>{{ form.model }}{{ form.model.errors }}</td>
            </tr>
            <tr{% if form.equipment_type.errors %} class="errorlist"{% endif %}>
               <td>{{ form.equipment_type.label }}</td>
               <td>
                  {{ form.equipment_type }}{{ form.equipment_type.errors }}
               </td>
            </tr>
            <tr{% if form.building.errors %} class="errorlist"{% endif %}>
               <td>{{ form.building.label }}</td>
               <td>{{ form.building }}{{ form.building.errors }}</td>
            </tr>
            <tr{% if form.room.errors %} class="errorlist"{% endif %}>
               <td>{{ form.room.label }}</td>
               <td>{{ form.room }}{{ form.room.errors }}</td>
            </tr>
            <tr{% if form.serial.errors %} class="errorlist"{% endif %}>
               <td>{{ form.serial.label }} #</td>
               <td>{{ form.serial }}{{ form.serial.errors }}</td>
            </tr>
            <tr{% if form.smsu_id.errors %} class="errorlist"{% endif %}>
               <td>{{ form.smsu_id.label }}</td>
               <td>{{ form.smsu_id }}{{ form.smsu_id.errors }}</td>
            </tr>
            <tr{% if form.video_unit.errors %} class="errorlist"{% endif %}>
               <td>{{ form.video_unit.label }} #</td>
               <td>{{ form.video_unit }}{{ form.video_unit.errors }}</td>
            </tr>
            <tr{% if form.cc_unit.errors %} class="errorlist"{% endif %}>
               <td>{{ form.cc_unit.label }} #</td>
               <td>{{ form.cc_unit }}{{ form.cc_unit.errors }}</td>
            </tr>
            <tr{% if form.lamp_type.errors %} class="errorlist"{% endif %}>
               <td>{{ form.lamp_type.label }}</td>
               <td>{{ form.lamp_type }}{{ form.lamp_type.errors }}</td>
            </tr>
            <tr{% if form.property_control.errors %} class="errorlist"{% endif %}>
               <td>{{ form.property_control.label }} #</td>
               <td>
                  {{ form.property_control }}{{ form.property_control.errors }}
               </td>
            </tr>
            <tr{% if form.ticket.errors %} class="errorlist"{% endif %}>
               <td>{{ form.ticket.label }} #</td>
               <td>{{ form.ticket }}{{ form.ticket.errors }}</td>
            </tr>
         </table>
      </div>
   
      <div id="origin-and-purchase-information">
         <h2>Origin and purchase information</h2>
         <table class="detail">
            <tr{% if form.received_from.errors %} class="errorlist"{% endif %}>
            <td>{{ form.received_from.label }}</td>
               <td>{{ form.received_from }}{{ form.received_from.errors }}</td>
               </tr>
            <tr{% if form.received_date.errors %} class="errorlist"{% endif %}>
            <td>{{ form.received_date.label }}</td>
               <td>{{ form.received_date }}{{ form.received_date.errors }}</td>
            </tr>
            <tr{% if form.value.errors %} class="errorlist"{% endif %}>
               <td>{{ form.value.label }}</td>
               <td>{{ form.value }}{{ form.value.errors }}</td>
            </tr>
            <tr{% if form.dof.errors %} class="errorlist"{% endif %}>
               <td>{{ form.dof.label }}</td>
               <td>{{ form.dof }}{{ form.dof.errors }}</td>
            </tr>
            <tr{% if form.purchase_order.errors %} class="errorlist"{% endif %}>
               <td>{{ form.purchase_order.label }}</td>
               <td>
                  {{ form.purchase_order }}{{ form.purchase_order.errors }}
               </td>
            </tr>
            <tr{% if form.budget.errors %} class="errorlist"{% endif %}>
               <td>{{ form.budget.label }}</td>
               <td>{{ form.budget }}{{ form.budget.errors }}</td>
            </tr>
         </table>
      </div>
      
      <div id="currently-in-the-hands-of">
         <h2>Currently in the hands of...</h2>
         <table class="detail">
            <tr{% if form.checkout_to.errors %} class="errorlist"{% endif %}>
               <td>Patron</td>
               <td>{{ form.checkout_to }}{{ form.checkout_to.errors }}</td>
            </tr>
            <tr{% if form.department.errors %} class="errorlist"{% endif %}>
               <td>{{ form.department.label }}</td>
               <td>{{ form.department }}{{ form.department.errors }}</td>
            </tr>
         </table>
      </div>
   
      <div id="comments">
         <h2>{{ form.comments.label }}</h2>
         <p{% if form.comments.errors %} class="errorlist"{% endif %}>
            {{ form.comments }}{{ form.comments.errors }}
         </p>
      </div>
   </form>
</div>
{% endblock %}