{% extends "root.html" %}

{% block title %}{{ the_user.first_name }}'s Profile{% endblock %}

{% block content %}
   <div id="detail">
      <form action="" method="POST">
      <h1><span class="right"><input type="submit" name="save" value="save" id="save" /></span>{{ the_user.first_name }} {{ the_user.last_name }} <span class="head">profile {% if not form.initial %}creation{% else %}edit{% endif %}</span></h1>
       <table class="profile">
          <tr><td>{{ form.image.label }}<br />{{ form.image }}<br />{{ form.image.errors }}</td>
            <td>
               <table>
                  <tr{% if form.title.errors %} class="errorlist"{% endif %}><td class="head">{{ form.title.label }}</td><td>{{ form.title }} {{ form.title.errors }}</td></tr>
                  <tr{% if form.phone.errors %} class="errorlist"{% endif %}><td class="head">phone</td><td>{{ form.phone }} {{ form.phone.errors }}</td></tr>
                  <tr{% if form.office_building.errors %} class="errorlist"{% endif %}><td class="head">{{ form.office_building.label }}</td><td>{{ form.office_building }} {{ form.office_building.errors }}</td></tr>
                  <tr{% if form.office_room.errors %} class="errorlist"{% endif %}><td class="head">{{ form.office_room.label }}</td><td>{{ form.office_room }} {{ form.office_room.errors }}</td></tr>
               </table>
            </td>
         </tr>
      </table>
      </form>
	</div>
{% endblock %}