<div id="copyright">
   <ul>
	  <li>Site (layout and programming) by Benjamin Kreeger.</li>
	  <li>Educational Technology Center, Missouri State University.</li>
	  <li>© {% now "Y" %}. All rights reserved.</li>
   </ul>
</div>
<div id="django">
   <a href="http://www.djangoproject.com/">
	  <img src="/_media/images/djangopowered80x15.gif" border="0" alt="A Django site." title="A Django site." />
   </a>
   <a href="http://postgresql.com/">
	  <img src="/_media/images/postgrespowered80x15.gif" border="0" alt="Powered by PostgreSQL." title="Powered by PostgreSQL." />
   </a>
   <a href="http://apple.com/server/macosx">
	  <img src="/_media/images/macosxpowered80x15.gif" border="0" alt="Powered by Mac OS X Server." title="Powered by Mac OS X Server." />
   </a>
</div>