<ul id="navul">
	<li><a href="{% url etcetera-home %}">Home</a></li>
	{% if user.is_authenticated %}
	<li><a href="{% url equipment-index %}">Equipment</a></li>
	<li><a href="{% url checkout-index %}">Checkout</a></li>
	<li><a href="{% url service-index %}">Service</a></li>
	<li><a href="{% url mlab-index %}">mLab</a></li>
	<li><a href="#">Reports</a></li>
	{% if user.is_staff %}<li><a href="{% url admin:index %}" id="admin">Admin</a></li>{% endif %}
	{% endif %}
</ul>
<div style="clear:both"></div>