<ul id="navul">
	<li><a href="{% url etcetera-home %}">Home</a></li>
	{% if user.is_authenticated %}
	<li><a href="{% url equipment-index %}">Equipment</a>
	   <ul>
	      <li><a href="#">New item</a></li>
      </ul></li>
	<li><a href="#">Checkout</a></li>
	<li><a href="{% url service-index %}">Service</a>
	   <ul>
	      <li><a href="#">New item</a></li>
      </ul></li>
	<li><a href="{% url mlab-index %}">mLab</a>
	   <ul>
	      <li><a href="#">Room checkout</a></li>
      </ul></li>
	<li><a href="#">Reports</a></li>
	{% if user.is_staff %}<li><a href="{% url admin:index %}" id="admin">Admin</a></li>{% endif %}
	{% endif %}
</ul>
<div style="clear:both"></div>