<!DOCTYPE html>

<html>
<head>
   <title>{% block fulltitle %}{% block title %}{{ content.title|safe }}{% endblock %} | Educational Technology Center | Missouri State University{% endblock %}</title>
   <link rel="stylesheet" href="/static/stylesheets/boilerplate.css" type="text/css" media="screen" charset="utf-8">
   <link rel="stylesheet" href="/static/stylesheets/screen.css" type="text/css" media="screen" charset="utf-8">
   <link rel="stylesheet" href="/static/stylesheets/rst.css" type="text/css" media="screen" charset="utf-8">
   <link rel="stylesheet" href="/static/stylesheets/formextras.css" type="text/css" media="screen" charset="utf-8">
   <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"></script>
   <script type="text/javascript" src="/static/javascript/site.js"></script>
   <script type="text/javascript" src="{% block script %}{% endblock %}"></script>
   {% block fullscript %}{% endblock %}
</head>
<body class="{% block body_class %}{{ filename|slugify }}{% endblock %}">

<div id="page">
  <div id="header">
    <div class="wrapper">
      <h1><a href="http://www.missouristate.edu/">Missouri State University</a></h1>
      <form action="http://search.missouristate.edu/search/" method="get">
        <p><input type="text" name="q" value="" id="id_q">
          <input type="submit" name="submit" value="Search" class="button"></p>
      </form>
    </div>
  </div>

  <div id="body">
    <div id="nav">
      <h4 class="home"><a href="/">Home</a></h4>
      <h4{% if filename == "about_us" %} class="on"{% endif %}><a href="/about_us.html">About Us</a></h4>
      <ul>
        <li{% if filename == "mission" %} class="on"{% endif %}><a href="/mission.html">Mission Statement</a></li>
        <li{% if filename == "staff" %} class="on"{% endif %}><a href="/staff.html">Our Staff</a></li>
        <li{% if filename == "faq" %} class="on"{% endif %}><a href="/faq.html">FAQ</a>
          <ul>
            <li{% if filename == "classroom_technology_faq" %} class="on"{% endif %}><a href="/classroom_technology_faq.html">Classroom Technology</a></li>
            <li{% if filename == "equipment_lending_faq" %} class="on"{% endif %}><a href="/equipment_lending_faq.html">Equipment Lending</a></li>
          </ul>
        </li>
      </ul>

      <h4{% if filename == "classroom_technology" %} class="on"{% endif %}><a href="/classroom_technology.html">Classroom Technology</a></h4>
      <ul>
        <li{% if filename == "classroom_upgrade_process" %} class="on"{% endif %}><a href="/classroom_upgrade_process.html">Classroom Upgrade Process</a>
          <ul>
            <li{% if filename == "cup_current" %} class="on"{% endif %}><a href="/cup/cup_current.html">Classroom Upgrade Process Current Year</a></li>
            <li{% if filename == "cup_archive" %} class="on"{% endif %}><a href="/cup/cup_archive.html">Classroom Upgrade Process Archive</a></li>
          </ul>
        </li>
        <li{% if filename == "tech_levels" %} class="on"{% endif %}><a href="/tech_levels.html">Technology Levels</a></li>
        <li{% if filename == "recommended_equipment" %} class="on"{% endif %}><a href="/recommended_equipment.html">Recommended Equipment</a></li>
        <li{% if filename == "classroom_support" %} class="on"{% endif %}><a href="/classroom_support.html">Classroom Support</a>
          <ul>
            <li{% if filename == "training" %} class="on"{% endif %}><a href="/training.html">Training</a></li>
            <li{% if filename == "operating_instructions" %} class="on"{% endif %}><a href="/operating_instructions.html">Operating Instructions</a></li>
            <li{% if filename == "srs" %} class="on"{% endif %}><a href="/srs.html">Student Response Systems (SRS)</a></li>
            <li{% if filename == "itv" %} class="on"{% endif %}><a href="/itv.html">ITV</a></li>
            <li{% if filename == "duss_computer_support" %} class="on"{% endif %}><a href="/duss_computer_support.html">DUSS Computer Support</a></li>
          </ul>
        </li>
      </ul>

      <h4{% if filename == "etc_labs" %} class="on"{% endif %}><a href="/etc_labs.html">ETC Labs</a></h4>
      <ul>
        <li{% if filename == "multimedia_lab" %} class="on"{% endif %}><a href="/multimedia_lab.html">Multimedia Lab</a></li>
        <li{% if filename == "instructional_lab" %} class="on"{% endif %}><a href="/instructional_lab.html">Instructional Lab</a></li>
      </ul>

      <h4{% if filename == "equipment_lending" %} class="on"{% endif %}><a href="/equipment_lending.html">Equipment Lending</a></h4>
      <ul>
        <li{% if filename == "lending_policies" %} class="on"{% endif %}><a href="/lending_policies.html">Lending Policies</a>
          <ul>
            <li{% if filename == "training_request" %} class="on"{% endif %}><a href="/training_request.html">Training Request</a></li>
          </ul>
        </li>
        <li{% if filename == "equipment_description" %} class="on"{% endif %}><a href="/equipment_description.html">Equipment Descriptions</a></li>
        <li{% if filename == "equipment_request_forms" %} class="on"{% endif %}><a href="/equipment_request_forms.html">Equipment Request Forms</a>
          <ul>
            <li{% if filename == "student_request_form" %} class="on"{% endif %}><a href="/static/pdf/student_request_form.pdf">Student Form</a></li>
            <li{% if filename == "faculty_request_form" %} class="on"{% endif %}><a href="/faculty_request_form.html">Faculty/Staff Form</a></li>
          </ul>
        </li>
        <!-- <li{% if filename == "faculty_equipment" %} class="on"{% endif %}><a href="faculty_equipment.html">Faculty/Staff equipment</a></li> -->
      </ul>

      <h4{% if filename == "technical_services" %} class="on"{% endif %}><a href="/technical_services.html">Technical Services</a></h4>
      <ul>
        <li{% if filename == "tech_support" %} class="on"{% endif %}><a href="/tech_support.html">Technical Support</a></li>
        <li{% if filename == "consulting" %} class="on"{% endif %}><a href="/consulting.html">Consulting and System Design</a></li>
        <li{% if filename == "service_request" %} class="on"{% endif %}><a href="/service_request.html">Service Request Form</a></li>
      </ul>

      <h4{% if filename == "academic_scheduling" %} class="on"{% endif %}><a href="/academic_scheduling.html">Academic Scheduling</a></h4>
      <ul><li></li></ul>

    <h4{% if filename == "creative_services" %} class="on"{% endif %}><a href="/creative_services.html">Creative Services</a></h4>
      <ul><li></li></ul>

    </div>

    <div class="content">
      <p class="breadcrumbs"><a href="http://www.missouristate.edu">Missouri State University</a> &rsaquo;
        {% block fullbreadcrumb %}<a href=".">ETC</a> &rsaquo;
        {% block breadcrumb %}{{ content.title }}{% endblock %}{% endblock %}</p>
      <div class="sidebar">
        {% block sidebar %}{% endblock %}
      </div>
      {% block content %}
        <div class="rst">{{ content.html_body|safe }}</div>
      {% endblock %}
    </div>
  </div>

  <div id="footer">
    <p>
      <a href="http://www.missouristate.edu/">Missouri State University</a> | &copy; 2009 Board of Governors,
      Missouri State University | <a href="http://www.missouristate.edu/disclaimer/default.htm">Disclaimer</a> |
      <a href="http://www.missouristate.edu/contact/accessibility.htm">Accessibility</a> | Maintained by:
      <a href="mailto:benjaminkreeger@missouristate.edu">Educational Technology Center</a>
    </p>
  </div>
</div>
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-11325125-1");
pageTracker._trackPageview();
} catch(err) {}</script>

</body>
</html>