<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
	<title>{% block title %}{% endblock %} | Etcetera</title>
	{% block stylesheet_extra %}{% endblock %}
	<link rel="stylesheet" href="/_media/css/screen.css" type="text/css" media="screen" charset="utf-8">
	<link rel="stylesheet" href="/_media/css/print.css" type="text/css" media="print" charset="utf-8">
	<script type="text/javascript" src="/_media/js/jquery.min.js"></script>
	{% block fullscript %}<script src="{% block script %}{% endblock %}"></script>{% endblock %}
</head>
<body>
	<div id="header">
		<div class="wrapper">
			{% include 'includes/header.html' %}
		</div>
	</div>
	<div id="nav">
		<div class="wrapper">
			{% include 'includes/nav.html' %}
		</div>
	</div>
	<div id="body">
   	<div id="breadcrumb">
   		<div class="wrapper">
   			{% block breadcrumb %}Home{% endblock %}
   		</div>
   	</div>
   	<div id="subnav">
   		<div class="wrapper">
   		   {% block subnav %}{% endblock %}
   		</div>
   	</div>
   	<div id="content">
   		<div class="wrapper">
   			{% block content %}{% endblock %}
   		</div>
   	</div>
   	<div id="footer">
   		<div class="wrapper">
   			{% include 'includes/footer.html' %}
   		</div>
   	</div>
   </div>
</body>
</html>