{% extends "root.html" %}
{% load etcetera_tags %}

{% block title %}
   Canceling Checkout #{{ object.id }}
{% endblock %}

{% block fullscript %}
   <script type="text/javascript" charset="utf-8">
      $(function() {
         $('#cancel').click(function() {
            window.location = '{% url checkout-detail object.id %}';
         });
      });
   </script>
{% endblock %}

{% block breadcrumb %}
   <a href="{% url etcetera-home %}">Home</a> &rsaquo;
   <a href="{% url checkout-index %}">Checkout</a> &rsaquo;
   <a href="{% url checkout-detail object.id %}">
      Checkout #{{ object.id }}
   </a> &rsaquo;
   Cancel
{% endblock %}

{% block content %}
<div id="detail">

	<h1>
		Canceling Checkout #{{ object.id }}
	</h1>
   
	<p>
		Are you sure you want to cancel checkout #{{ object.id }} for {{ object.first_name }} {{ object.last_name }}?
	</p>
	
	<form action="" method="POST">
		<p>Please state the reason for cancellation below.</p>
		{{ form.reason }} {{ form.reason.errors }}
		<p>
			<input type="submit" name="submit" value="Yeah, do it!" id="submit" />
			<input type="button" name="cancel" value="No, don't! Go back!" id="cancel" />
		</p>
	</form>
	
</div>
{% endblock %}