{% extends "etc.html" %}

{% block script %}{% endblock %}

{% block breadcrumb %}Faculty Equipment Lending Form{% endblock %}

{% block content %}
<div class="form">
   <h1>Faculty Equipment Lending Form</h1>
	<p>Please provide the information requested below, including a description of the equipment desired. This information will be sent to our system and you will receive a confirmation email once this request reaches our system.</p>
	
	<form action="" method="POST">
		{% if form.errors %}
			<p class="error">Please correct the error{{ form.errors|pluralize }} below.</p>
		{% endif %}
		<table>
      	<tr{% if form.checkout_type.errors %} class="errorlist"{% endif %}>
   	      <th>{{ form.checkout_type.label }}</th>
   	      <td>{{ form.checkout_type }}</td>
      		<td{% if form.checkout_type.errors %}>
      		{{ form.checkout_type.errors }}
      		   {% else %} class="note">{{ form.checkout_type.help_text }}
      		   {% endif %}
      		</td>
      	</tr>
      	<tr{% if form.return_type.errors %} class="errorlist"{% endif %}>
   	      <th>{{ form.return_type.label }}</th>
   	      <td>{{ form.return_type }}</td>
      		<td{% if form.return_type.errors %}>{{ form.return_type.errors }}
      		   {% else %} class="note">{{ form.return_type.help_text }}
      		   {% endif %}
      		</td>
      	</tr>
		   <tr{% if form.first_name.errors %} class="errorlist"{% endif %}>
		      <th>{{ form.first_name.label }}</th>
		      <td>{{ form.first_name }}</td>
				<td{% if form.first_name.errors %}>{{ form.first_name.errors }}
				   {% else %} class="note">{{ form.first_name.help_text }}
   				{% endif %}
				</td>
			</tr>
			<tr{% if form.last_name.errors %} class="errorlist"{% endif %}>
			   <th>{{ form.last_name.label }}</th>
			   <td>{{ form.last_name }}</td>
				<td{% if form.last_name.errors %}>{{ form.last_name.errors }}
				   {% else %} class="note">{{ form.last_name.help_text }}
				   {% endif %}
				</td>
			</tr>
   	   <tr{% if form.department_text.errors %} class="errorlist"{% endif %}>
   	      <th>{{ form.department_text.label }}</th>
   	      <td>{{ form.department_text }}</td>
   			<td{% if form.department_text.errors %}>
   			   {{ form.department_text.errors }}
   			   {% else %} class="note">{{ form.department_text.help_text }}
   			   {% endif %}
   			</td>
   		</tr>	
	      <tr{% if form.course.errors %} class="errorlist"{% endif %}>
	         <th>{{ form.course.label }}</th>
	         <td>{{ form.course }}</td>
				<td{% if form.course.errors %}>{{ form.course.errors }}
				   {% else %} class="note">{{ form.course.help_text }}
				   {% endif %}
				</td>
			</tr>	
   	   <tr{% if form.phone.errors %} class="errorlist"{% endif %}>
   	      <th>{{ form.phone.label }}</th>
   	      <td>{{ form.phone }}</td>
   			<td{% if form.phone.errors %}>{{ form.phone.errors }}
   			   {% else %} class="note">{{ form.phone.help_text }}
   			   {% endif %}
   			</td>
   		</tr>
   	   <tr{% if form.email.errors %} class="errorlist"{% endif %}>
   	      <th>{{ form.email.label }}</th>
   	      <td>{{ form.email }}</td>
   			<td{% if form.email.errors %}>{{ form.email.errors }}
   			   {% else %} class="note">{{ form.email.help_text }}
   			   {% endif %}
   		   </td>
   		</tr>
   	   <tr{% if form.building.errors %} class="errorlist"{% endif %}>
   	      <th>{{ form.building.label }}</th>
   	      <td>{{ form.building }}</td>
      		<td{% if form.building.errors %}>{{ form.building.errors }}
      		   {% else %} class="note">{{ form.building.help_text }}
      		   {% endif %}
      		</td>
      	</tr>
      	<tr{% if form.room.errors %} class="errorlist"{% endif %}>
   	      <th>{{ form.room.label }}</th>
   	      <td>{{ form.room }}</td>
      		<td{% if form.room.errors %}>{{ form.room.errors }}
      		   {% else %} class="note">{{ form.room.help_text }}
      		   {% endif %}
      		</td>
      	</tr>
      	<tr{% if form.equipment_needed.errors %} class="errorlist"{% endif %}>
   	      <th>{{ form.equipment_needed.label }}</th>
   	      <td>{{ form.equipment_needed }}</td>
      		<td{% if form.equipment_needed.errors %}>
      		   {{ form.equipment_needed.errors }}
      		   {% else %} class="note">{{ form.equipment_needed.help_text }}
      		   {% endif %}
      		</td>
      	</tr>
       	<tr{% if form.software.errors %} class="errorlist"{% endif %}>
   	      <th>{{ form.software.label }}</th>
   	      <td>{{ form.software }}</td>
      		<td{% if form.software.errors %}>{{ form.software.errors }}
      		   {% else %} class="note">{{ form.software.help_text }}
      		   {% endif %}
      		</td>
      	</tr>
      	<tr{% if form.out_date.errors %} class="errorlist"{% endif %}>
   	      <th>{{ form.out_date.label }}</th>
   	      <td>{{ form.out_date }}</td>
      		<td{% if form.out_date.errors %}>{{ form.out_date.errors }}
      		   {% else %} class="note">{{ form.out_date.help_text }}
      		   {% endif %}
      		</td>
      	</tr>
      	<tr{% if form.return_date.errors %} class="errorlist"{% endif %}>
   	      <th>{{ form.return_date.label }}</th>
   	      <td>{{ form.return_date }}</td>
      		<td{% if form.return_date.errors %}>{{ form.return_date.errors }}
      		   {% else %} class="note">{{ form.return_date.help_text }}
      		   {% endif %}
      		</td>
      	</tr>
			<tr id="coordinator_row"{% if form.coordinator_check.errors %} class="errorlist"{% endif %}>
			   <th colspan="2">
			      {{ form.coordinator_check.label }} {{ form.coordinator_check }}
			   </th>
      		<td{% if form.coordinator_check.errors %}>
      		      {{ form.coordinator_check.errors }}
   		      {% else %} class="note">
   		         {{ form.coordinator_check.help_text }}
   		      {% endif %}
   		   </td>
   		</tr>		
			<tr id="equipment_row"{% if form.equipment_text.errors %} class="errorlist"{% endif %}>
			   <th>{{ form.equipment_text.label }}</th>
			   <td>{{ form.equipment_text }}</td>
      		<td{% if form.equipment_text.errors %}>
      		      {{ form.equipment_text.errors }}
      		   {% else %} class="note">
      		      {{ form.equipment_text.help_text }}
      		   {% endif %}
      		</td>
      	</tr>
			<tr id="barcode_row"{% if form.barcode.errors %} class="errorlist"{% endif %}>
			   <th>{{ form.barcode.label }}</th>
			   <td>{{ form.barcode }}</td>
      		<td{% if form.barcode.errors %}>{{ form.barcode.errors }}
      		   {% else %} class="note">{{ form.barcode.help_text }}
      		   {% endif %}
      		</td>
      	</tr>
			<tr id="description_row"{% if form.description.errors %} class="errorlist"{% endif %}>
			   <th>{{ form.description.label }}</th>
			   <td>{{ form.description }}</td>
      		<td{% if form.description.errors %}>{{ form.description.errors }}
      		   {% else %} class="note">{{ form.description.help_text }}
      		   {% endif %}
      		</td>
      	</tr>
			<tr>
			   <th>&nbsp;</th>
			   <td>
			      <p><small>Please click the Submit button only once. A few seconds will pass as we process your information.</small></p>
			      <input type="submit" value="Submit &rarr;" id="submit" />
		      </td>
		      <td>&nbsp;</td>
		   </tr>
		</table>
	</form>
</div>
{% endblock %}