{% extends "etc.html" %}

{% block title %}
   Faculty Equipment Lending Form
{% endblock %}

{% block fullscript %}
   <script type="text/javascript" src="/admin/jsi18n/"></script>
   <script type="text/javascript" src="/media/js/core.js"></script> 
   <script type="text/javascript" src="/media/js/admin/RelatedObjectLookups.js"></script>
   
   {{ form.media }}
{% endblock %}

{% block breadcrumb %}Faculty Equipment Lending Form{% endblock %}

{% block content %}
<div class="form">
   <h1>Faculty Equipment Lending Form</h1>
	<p>Please provide the information requested below, including a description of the equipment desired. This information will be sent to our system and you will receive a confirmation email once this request reaches our system.</p>
	
	<form action="" method="POST">
		{% if form.errors %}
			<p class="error">Please correct the error{{ form.errors|pluralize }} below.</p>
			<p>{% for err in form.errors %}{{ err }}<br />{% endfor %}</p>
		{% endif %}
		<table>
      	<tr id="checkout_type_row"{% if form.checkout_type.errors %} class="errorlist"{% endif %}>
   	      <th>{{ form.checkout_type.label }}</th>
   	      <td>{{ form.checkout_type }}</td>
      		<td{% if form.checkout_type.errors %}>
      		{{ form.checkout_type.errors }}
      		   {% else %} class="note">{{ form.checkout_type.help_text }}
      		   {% endif %}
      		</td>
      	</tr>
      	<tr id="return_type_row"{% if form.return_type.errors %} class="errorlist"{% endif %}>
   	      <th>{{ form.return_type.label }}</th>
   	      <td>{{ form.return_type }}</td>
      		<td{% if form.return_type.errors %}>{{ form.return_type.errors }}
      		   {% else %} class="note">{{ form.return_type.help_text }}
      		   {% endif %}
      		</td>
      	</tr>
		   <tr id="first_name_row"{% if form.first_name.errors %} class="errorlist"{% endif %}>
		      <th>{{ form.first_name.label }}</th>
		      <td>{{ form.first_name }}</td>
				<td{% if form.first_name.errors %}>{{ form.first_name.errors }}
				   {% else %} class="note">{{ form.first_name.help_text }}
   				{% endif %}
				</td>
			</tr>
			<tr id="last_name_row"{% if form.last_name.errors %} class="errorlist"{% endif %}>
			   <th>{{ form.last_name.label }}</th>
			   <td>{{ form.last_name }}</td>
				<td{% if form.last_name.errors %}>{{ form.last_name.errors }}
				   {% else %} class="note">{{ form.last_name.help_text }}
				   {% endif %}
				</td>
			</tr>
   	   <tr id="department_text_row"{% if form.department_text.errors %} class="errorlist"{% endif %}>
   	      <th>{{ form.department_text.label }}</th>
   	      <td>{{ form.department_text }}</td>
   			<td{% if form.department_text.errors %}>
   			   {{ form.department_text.errors }}
   			   {% else %} class="note">{{ form.department_text.help_text }}
   			   {% endif %}
   			</td>
   		</tr>	
	      <tr id="course_row"{% if form.course.errors %} class="errorlist"{% endif %}>
	         <th>{{ form.course.label }}</th>
	         <td>{{ form.course }}</td>
				<td{% if form.course.errors %}>{{ form.course.errors }}
				   {% else %} class="note">{{ form.course.help_text }}
				   {% endif %}
				</td>
			</tr>	
   	   <tr id="phone_row"{% if form.phone.errors %} class="errorlist"{% endif %}>
   	      <th>{{ form.phone.label }}</th>
   	      <td>{{ form.phone }}</td>
   			<td{% if form.phone.errors %}>{{ form.phone.errors }}
   			   {% else %} class="note">{{ form.phone.help_text }}
   			   {% endif %}
   			</td>
   		</tr>
   	   <tr id="email_row"{% if form.email.errors %} class="errorlist"{% endif %}>
   	      <th>{{ form.email.label }}</th>
   	      <td>{{ form.email }}</td>
   			<td{% if form.email.errors %}>{{ form.email.errors }}
   			   {% else %} class="note">{{ form.email.help_text }}
   			   {% endif %}
   		   </td>
   		</tr>
   	   <tr id="building_row"{% if form.building.errors %} class="errorlist"{% endif %}>
   	      <th>{{ form.building.label }}</th>
   	      <td>{{ form.building }}</td>
      		<td{% if form.building.errors %}>{{ form.building.errors }}
      		   {% else %} class="note">{{ form.building.help_text }}
      		   {% endif %}
      		</td>
      	</tr>
      	<tr id="room_row"{% if form.room.errors %} class="errorlist"{% endif %}>
   	      <th>{{ form.room.label }}</th>
   	      <td>{{ form.room }}</td>
      		<td{% if form.room.errors %}>{{ form.room.errors }}
      		   {% else %} class="note">{{ form.room.help_text }}
      		   {% endif %}
      		</td>
      	</tr>
      	<tr id="equipment_needed_row"{% if form.equipment_needed.errors %} class="errorlist"{% endif %}>
   	      <th>{{ form.equipment_needed.label }}</th>
   	      <td>{{ form.equipment_needed }}</td>
      		<td{% if form.equipment_needed.errors %}>
      		   {{ form.equipment_needed.errors }}
      		   {% else %} class="note">{{ form.equipment_needed.help_text }}
      		   {% endif %}
      		</td>
      	</tr>
      	<tr id="out_date_row"{% if form.out_date.errors %} class="errorlist"{% endif %}>
   	      <th>{{ form.out_date.label }}</th>
   	      <td colspan="2">{{ form.out_date }}
   	         {% if form.out_date.errors %}{{ form.out_date.errors }}
      		   {% else %}
      		      <span class="note">
         		      {{ form.out_date.help_text|safe }}
         		   </span>
      		   {% endif %}
      		</td>
      	</tr>
      	<tr id="return_date_row"{% if form.return_date.errors %} class="errorlist"{% endif %}>
   	      <th>{{ form.return_date.label }}</th>
   	      <td colspan="2">{{ form.return_date }}
   	         {% if form.return_date.errors %}{{ form.return_date.errors }}
      		   {% else %}
      		      <span class="note">
         		      {{ form.return_date.help_text|safe }}
         		   </span>
      		   {% endif %}
      		</td>
      	</tr>
			<tr id="submit_row">
			   <th>Notice</th>
			   <td>
			      <p><strong>By clicking submit, you understand that the equipment you will receive is to be used for classroom or campus related activities only, and you understand that you are responsible for this equipment until it is picked up or returned to ETC.</strong></p>
			      <p>Please click the Submit button only once. A few seconds will pass as we process your information.</p>
			      <input type="submit" value="Submit &rarr;" id="submit" />
		      </td>
		      <td>&nbsp;</td>
		   </tr>
		</table>
	</form>
</div>
{% endblock %}