{% extends "root.html" %}
{% load etcetera_tags %}

{% block title %}
   Checkout &raquo; {{ object.first_name }} {{ object.last_name }} #{{ object.id }}
{% endblock %}

{% block breadcrumb %}
   <a href="{% url etcetera-home %}">Home</a> &rsaquo;
   <a href="{% if object.completed %}{% url checkout-completed %}">Checkout (Completed){% else %}{% url checkout-index %}">Checkout{% endif %}</a> &rsaquo;
   Checkout #{{ object.id }}
{% endblock %}

{% block content %}
<div id="detail">
   {% if user.is_authenticated and not object.completed %}
      {% if not object.equipment_list.all and not object.other_equipment %}
         <div id="alert" class="banner">
            This checkout doesn't have any equipment associated with it.
               To associate equipment with it, 
               <a href="{% url checkout-equip object.id %}">click here</a>.
         </div>
      {% endif %}
      {% if object.delivering_user == user %}
         <div id="notify" class="banner">
            You've been assigned to deliver this ticket.
         </div>
      {% endif %}
      {% if object.overdue %}
         <div id="error" class="banner">
            This ticket is overdue.
            {# This ticket has been overdue for {{ object.overdue }} days. #}
         </div>
      {% endif %}
   {% endif %}
   
   <div id="headers">
      <h1>
         {{ object.first_name }} {{ object.last_name }}
            (Checkout #{{ object.id }})
            <span class="head">{{ object.get_checkout_type_display }}</span>
         {% if object.completed %}
            <span class="head">/
               {% if object.canceled %}
                  canceled
               {% else %}
                  completed
               {% endif %}
            </span>
         {% endif %}
      </h1>
      <ul>
         {% if object.creation_date %}
            <li class="created">
               <span class="head">Created</span> 
               {{ object.creation_date|date:'n/j/Y g:iA' }}
            </li>
            {% if object.completion_date and object.completed %}
               <li class="closed">
                  <span class="head">Closed</span>
                  {{ object.completion_date|date:'n/j/Y g:iA' }}
               </li>
            {% endif %}
         {% endif %}
         <li>
            {% if object.checkout_type == 'delivery' %}
               ETC will deliver
            {% else %}
               Patron will pick up
            {% endif %}
            at {{ object.out_date|date:'n/j/Y g:iA' }}
         </li>
         <li>
            {% if object.return_type == 'etc' %}
               ETC
            {% else %}
               Patron
            {% endif %}
            will return at {{ object.return_date|date:'n/j/Y g:iA' }}
         </li>
      </ul>
   </div>
   
   <div id="actions">
      <h2>Actions</h2>
      {% if user.is_authenticated %}
         <ul>
            <li>
               <a href="{% url checkout-edit object.id %}">edit</a>
            </li>
            {% if not object.completed %}
               <li>
                  <a href="{% url checkout-equip object.id %}">
                     change equipment
                  </a>
               </li>
               {% if object.email %}
                  <li>
                  {% if object.confirmation_sent %}
                     <span class="disabled">confirmed</span>
                  {% else %}
                        <a href="{% url checkout-confirm object.id %}">
                           send confirmation
                        </a>
                  {% endif %}
                  </li>
               {% endif %}
               <li>
                  <a href="{% url checkout-dupe object.id %}">duplicate</a>
               </li>
               {% if not object.canceled %}
                  <li>
                     <a href="{% url checkout-cancel object.id %}">cancel</a>
                  </li>
               {% endif %}
            {% else %}
               <li>
                  <span class="disabled">can't change equipment</span>
               </li>
            {% endif %}
         </ul>
      {% else %}
         <p>You must be logged in to perform actions on this ticket.</p>
      {% endif %}
   </div>
   
   <div id="brief-information">
      <h2>Brief information</h2>
      <table class="detail">
         <tr>
            <td>Patron</td>
            <td>{{ object.first_name }} {{ object.last_name }}</td>
         </li>
         {% if object.department or object.department_text %}
            <tr>
               <td>Department</td>
               <td>
                  {% if object.department %}
                     {{ object.department }}
                  {% else %}
                     {{ object.department_text }} (user-submitted)
                  {% endif %}
               </td>
            </tr>
         {% endif %}
         {% if object.course %}
            <tr>
               <td>Course</td>
               <td>{{ object.course }}</td>
            </tr>
         {% endif %}
         {% if object.building %}
            <tr>
               <td>
                  {% if object.checkout_type == "delivery" %}
                     Delivery
                  {% endif %}
                  Location
               </td>
               <td>{{ object.building.name }} {{ object.room }}</td>
            </tr>
         {% endif %}
         {% if object.location_text %}
            <tr>
               <td>Other location</td>
               <td>{{ object.location_text }}</td>
            </tr>
         {% endif %}
         {% if object.returning_person %}
            <tr>
               <td>Returning person</td>
               <td>{{ object.returning_person }}</td>
            </tr>
         {% endif %}
      </table>
   </div>

   <div id="contact-information">
      <h2>Contact information</h2>
      <table class="detail">
         {% if object.phone %}
            <tr>
               <td>Phone</td> 
               <td>{{ object.phone }}</td>
            </tr>
         {% endif %}
         {% if object.email %}
            <tr>
               <td>Email</td>
               <td>
                  <a href="mailto:{{ object.email }}">{{ object.email }}</a>
               </td>
            </tr>
         {% endif %}
      </table>
   </div>

   <div id="equipment-needed">
      <h2>Equipment needed</h2>
      {{ object.equipment_needed|linebreaks }}
   </div>

   {% if object.handling_user or object.delivering_user %}
      <div id="personnel-information">
         <h2>Personnel information</h2>
         <table class="detail">
            {% if object.handling_user %}
               <tr>
                  <td>Handled by</td>
                  <td>
                     <a href="{% url etcetera-user object.handling_user.username %}">
                        {{ object.handling_user.get_full_name }}
                     </a>
                  </td>
               </tr>
            {% endif %}
            {% if object.delivering_user %}
               <tr>
                  <td>Delivered by</td>
                  <td>
                     <a href="{% url etcetera-user object.delivering_user.username %}">
                        {{ object.delivering_user.get_full_name }}
                     </a>
                  </td>
               </tr>
            {% endif %}
         </table>
      </div>
   {% endif %}

   <h2>Equipment list</h2>
   {% if object.equipment_list.all %}
      <table id="list">
         <tr>
            <td>Barcode</td>
            <td>Type</td>
            <td>Make/Model</td>
            <td>Serial</td>
         </tr>
         {% for item in object.equipment_list.all %}
            <tr>
               <td>
                  <a href="{% url equipment-detail item.id %}">
                     {{ item.barcode }}
                  </a>
               </td>
               <td>
                  <a href="{% url equipment-detail item.id %}">
                     {{ item.equipment_type.name }}
                  </a>
               </td>
               <td>
                  <a href="{% url equipment-detail item.id %}">
                     {{ item.make.name }} {{ item.model }}
                  </a>
               </td>
               <td>
                  <a href="{% url equipment-detail item.id %}">
                     {{ item.serial }}
                  </a>
               </td>
            </tr>
         {% endfor %}
      </table>
   {% else %}
      <p>No specific equipment has been attached to this checkout yet.</p>
   {% endif %}

   <div id="other-equipment">
      <h2>Other equipment</h2>
      {% if object.other_equipment %}
         {{ object.other_equipment|linebreaks }}
      {% else %}
         <p>No extra equipment (cables, adapters, etc.) have been
               attached to this checkout.</p>
      {% endif %}
   </div>

   {% if object.comments %}
      <div id="comments">
         <h2>Comments</h2>
         {{ object.comments|linebreaks }}
      </div>
   {% endif %}
   
   <div id="checkout-print">
      <p><em><strong>Note</strong>: I understand that this equipment is to be used for classroom or campus related activities only and understand that I am responsible for this equipment until it is picked up or returned to ETC.</em></p>
      <table class="signature">
         <tr>
            <td>Person Receiving Equipment</td>
            <td>&nbsp;</td>
            <td>Phone</td>
            <td>&nbsp;</td>
         </tr>
      </table>
   </div>
   
</div>
{% endblock %}