{% extends "root.html" %}
{% load etcetera_tags %}

{% block title %}
   Checkout &raquo; {{ object.first_name }} {{ object.last_name }} #{{ object.id }}
{% endblock %}

{% block breadcrumb %}
   <a href="{% url etcetera-home %}">Home</a> &rsaquo;
   <a href="{% if object.completed %}{% url checkout-completed %}">Checkout (Completed){% else %}{% url checkout-index %}">Checkout{% endif %}</a> &rsaquo;
   Checkout #{{ object.id }}
{% endblock %}

{% block content %}
<div id="detail">
   {% if user.is_authenticated and not object.completed %}
      {% if not object.equipment_list.all and not object.other_equipment %}
         <div id="alert" class="banner">
            This checkout doesn't have any equipment associated with it.
               To associate equipment with it, 
               <a href="{% url checkout-equip object.id %}">click here</a>.
         </div>
      {% endif %}
      {% ifequal object.delivering_user user %}
         <div id="notify" class="banner">
            You've been assigned to deliver this ticket.
         </div>
      {% endifequal %}
      {% if object.overdue %}
         <div id="error" class="banner">
            This ticket is overdue.
            {# This ticket has been overdue for {{ object.overdue }} days. #}
         </div>
      {% endif %}
   {% endif %}
   
   <h1>
      {% if user.is_authenticated %}
         <span class="right">
            {% if not object.completed %}
               {% if not object.confirmation_sent %}
                  <a href="{% url checkout-confirm object.id %}">
                     send confirmation
                  </a> &bull;
               {% else %}
                  <span class="disabled">confirmation sent</span> &bull;
               {% endif %}
               <a href="{% url checkout-equip object.id %}">
                  add/remove equipment
               </a>
            {% else %}
               <span class="disabled">can't change equipment</span>
            {% endif %}
         &bull; <a href="{% url checkout-edit object.id %}">edit</a>
         </span>
      {% endif %}
      {{ object.first_name }} {{ object.last_name }}
         (Checkout #{{ object.id }})
         <span class="head">{{ object.get_checkout_type_display }}</span>
      {% if object.completed %}
         <span class="head">/ completed</span>
      {% endif %}
   </h1>
   
   <h2>
      {% if object.creation_date %}
         <span class="right">
            <span class="head">Created</span> 
               {{ object.creation_date|date:'n/j/Y g:iA' }}<br />
               {% if object.completion_date and object.completed %}
                  <span class="head">Completed</span>
                  {{ object.completion_date|date:'n/j/Y g:iA' }}
               {% endif %}
         </span>
      {% endif %}
      {% ifequal object.checkout_type 'delivery' %}
         ETC will deliver
      {% else %}
         Patron will pick up
      {% endifequal %}
      at {{ object.out_date|date:'n/j/Y g:iA' }}<br />
      {% ifequal object.return_type 'etc' %}
         ETC
      {% else %}
         Patron
      {% endifequal %}
      will return at {{ object.return_date|date:'n/j/Y g:iA' }}
   </h2>
   
   <div class="right">
      <h3>Contact information</h3>
      <table>
         {% if object.phone %}
            <tr>
               <td class="tablehead">Phone</td>
               <td>{{ object.phone }}</td>
            </tr>
         {% endif %}
         {% if object.email %}
            <tr>
               <td class="tablehead">Email</td>
               <td>
                  <a href="mailto:{{ object.email }}">{{ object.email }}</a>
               </td>
            </tr>
         {% endif %}
      </table>
   </div>
   
   <h3>Brief information</h3>
   <table>
      <tr>
         <td class="tablehead">Submitted by</td>
         <td>{{ object.first_name }} {{ object.last_name }}</td>
      </tr>
      {% if object.department or object.department_text %}
         <tr>
            <td class="tablehead">Department</td>
            <td>
               {% if object.department %}
                  {{ object.department }}
               {% else %}
                  {{ object.department_text }} (user-submitted)
               {% endif %}
            </td>
         </tr>
      {% endif %}
      {% if object.course %}
         <tr>
            <td class="tablehead">Course</td>
            <td>{{ object.course }}</td>
         </tr>
      {% endif %}
      {% if object.building %}
         <tr>
            <td class="tablehead">
               {% ifequal object.checkout_type "delivery" %}
                  Delivery
               {% endifequal %}
               Location
            </td>
            <td>{{ object.building.name }} {{ object.room }}</td>
         </tr>
      {% endif %}
      {% if object.location_text %}
         <tr>
            <td class="tablehead">Other location</td>
            <td>{{ object.location_text }}</td>
         </tr>
      {% endif %}
      {% if object.returning_person %}
         <tr>
            <td class="tablehead">Returning person</td>
            <td>{{ object.returning_person }}</td>
         </tr>
      {% endif %}
   </table>
    
   <h3>Equipment needed</h3>
   {{ object.equipment_needed|linebreaks }}
   
   {% if object.handling_user or object.delivering_user %}
      <h3>Personnel information</h3>
      <table>
         {% if object.handling_user %}
            <tr>
               <td class="tablehead">Handled by</td>
               <td>
                  <a href="{% url etcetera-user object.handling_user.username %}">
                     {{ object.handling_user.get_full_name }}
                  </a>
               </td>
            </tr>
         {% endif %}
         {% if object.delivering_user %}
            <tr>
               <td class="tablehead">Delivered by</td>
               <td>
                  <a href="{% url etcetera-user object.delivering_user.username %}">
                     {{ object.delivering_user.get_full_name }}
                  </a>
               </td>
            </tr>
         {% endif %}
      </table>
   {% endif %}
   
   <h3>Equipment list</h3>
   {% if object.equipment_list.all %}
      <table id="list">
         <tr id="headerrow">
            <td>Barcode</td>
            <td>Type</td>
            <td>Make/Model</td>
            <td>Serial</td>
         </tr>
         {% for item in object.equipment_list.all %}
            <tr class="datarow">
               <td>
                  <a href="{% url equipment-detail item.id %}">
                     {{ item.barcode }}
                  </a>
               </td>
               <td>
                  <a href="{% url equipment-detail item.id %}">
                     {{ item.equipment_type.name }}
                  </a>
               </td>
               <td>
                  <a href="{% url equipment-detail item.id %}">
                     {{ item.make.name }} {{ item.model }}
                  </a>
               </td>
               <td>
                  <a href="{% url equipment-detail item.id %}">
                     {{ item.serial }}
                  </a>
               </td>
            </tr>
         {% endfor %}
      </table>
   {% else %}
      <p>No specific equipment has been attached to this checkout yet.</p>
   {% endif %}
   
   <h3>Other equipment</h3>
   {% if object.other_equipment %}
      {{ object.other_equipment|linebreaks }}
   {% else %}
      <p>No extra equipment (cables, adapters, etc.) have been
            attached to this checkout.</p>
   {% endif %}
   
   {% if object.comments %}
   <h3>Comments</h3>
      {{ object.comments|linebreaks }}
   {% endif %}
</div>
{% endblock %}