{% extends "root.html" %}
{% load etcetera_tags %}

{% block title %}
   Checkout &raquo; Editing Checkout #{{ object.id }}
{% endblock %}

{% block breadcrumb %}
   <a href="{% url etcetera-home %}">Home</a> &rsaquo;
   {% if object.completion_date %}
      <a href="{% url checkout-completed %}">Checkout (Completed)</a>
   {% else %}
      <a href="{% url checkout-index %}">Checkout</a>
   {% endif %}</a> &rsaquo;
   {% if object %}
      <a href="{% url checkout-detail object.id %}">
         Checkout #{{ object.id }}
      </a> &rsaquo;
      Edit
   {% else %}
      Creating a new checkout item
   {% endif %}
{% endblock %}

{% block content %}
<div id="detail">
   <form action="" method="POST">
   
   <div id="headers">
      <h1>
         {% if not object %}
            Adding a new
         {% endif %}
         Checkout
         {% if object %}
            #{{ object.id }} <span class="head">edit mode</span>
         {% endif %}
      </h1>
      <ul{% if form.canceled.errors or form.checkout_type.errors or form.return_type.errors %} class="errorlist"{% endif %}>
         {% if object %}
            {% if object.completion_date %}
               <li class="created">
                  <span class="head">completion date</span>
                     {{ object.completion_date|date:'n/j/Y g:iA' }}
               </li>
            {% endif %}
            <li class="closed">
               <span class="head">canceled?</span>
               {{ form.canceled }} {{ form.canceled.errors }}
            </li>
         {% endif %}
         <li>
            Checkout type
            {{ form.checkout_type }} {{ form.checkout_type.errors }}
         </li>
         <li>
            Return type
            {{ form.return_type }} {{ form.return_type.errors }}
         </li>
      </ul>
   </div>
   
   <div id="actions">
      <h2>Actions</h2>
      {{ form_actions|safe }}
   </div>
   
   <div id="brief-information">
      <h2>Brief information</h2>
      <table class="detail">
         <tr{% if form.first_name.errors %} class="errorlist"{% endif %}>
            <td>{{ form.first_name.label }}</td>
            <td>{{ form.first_name }} {{ form.first_name.errors }}</td>
         </tr>
         <tr{% if form.last_name.errors %} class="errorlist"{% endif %}>
            <td>{{ form.last_name.label }}</td>
            <td>{{ form.last_name }} {{ form.last_name.errors }}</td>
         </tr>
         <tr{% if form.department.errors %} class="errorlist"{% endif %}>
            <td>{{ form.department.label }}</td>
            <td>{{ form.department }} {{ form.department.errors }}</td>
         </tr>
         {% if object.department_text %}
            <tr>
               <td>Department (user)</td>
               <td>{{ object.department_text }}</td>
            </tr>
         {% endif %}
         <tr{% if form.course.errors %} class="errorlist"{% endif %}>
            <td>{{ form.course.label }}</td>
            <td>{{ form.course }} {{ form.course.errors }}</td>
         </tr>
         <tr{% if form.building.errors %} class="errorlist"{% endif %}>
            <td>{{ form.building.label }}</td>
            <td>{{ form.building }} {{ form.building.errors }}</td>
         </tr>
         <tr{% if form.room.errors %} class="errorlist"{% endif %}>
            <td>{{ form.room.label }}</td>
            <td>{{ form.room }} {{ form.room.errors }}</td>
         </tr>
         <tr{% if form.returning_person.errors %} class="errorlist"{% endif %}>
            <td>{{ form.returning_person.label }}</td>
            <td>
               {{ form.returning_person }}
               {{ form.returning_person.errors }}
            </td>
         </tr>
         <tr{% if form.out_date.errors %} class="errorlist"{% endif %}>
            <td>{{ form.out_date.label }}</td>
            <td>{{ form.out_date }} {{ form.out_date.errors }}</td>
         </tr>
         <tr{% if form.return_date.errors %} class="errorlist"{% endif %}>
            <td>{{ form.return_date.label }}</td>
            <td>{{ form.return_date }} {{ form.return_date.errors }}</td>
         </tr>
      </table>
   </div>

   <div id="contact-information">
      <h2>Contact information</h2>
      <table class="detail">
         <tr{% if form.phone.errors %} class="errorlist"{% endif %}>
            <td>{{ form.phone.label }}</td>
            <td>{{ form.phone }} {{ form.phone.errors }}</td>
         </tr>
         <tr{% if form.email.errors %} class="errorlist"{% endif %}>
            <td>{{ form.email.label }}</td>
            <td>{{ form.email }} {{ form.email.errors }}</td>
         </tr>
      </table>
   </div>

   <div id="equipment-needed">
      <h2>{{ form.equipment_needed.label }}</h2>
      <p{% if form.equipment_needed.errors %} class="errorlist"{% endif %}>
         {{ form.equipment_needed }} {{ form.equipment_needed.errors }}
      </p>
   </div>

   <div id="personnel-information">
      <h2>Personnel information</h2>
      <table class="detail">
         {% if object.handling_user %}
            <tr>
               <td>Handled by</td>
               <td>
                  <a href="{% url etcetera-user object.handling_user.username %}">
                     {{ object.handling_user.get_full_name }}
                  </a>
               </td>
            </tr>
         {% endif %}
         <tr{% if form.delivering_user.errors %} class="errorlist"{% endif %}>
            <td>{{ form.delivering_user.label }}</td>
            <td>{{ form.delivering_user }} {{ form.delivering_user.errors }}</td>
         </tr>
      </table>
   </div>

   <div id="other-equipment">
      <h2>{{ form.other_equipment.label }}</h2>
      <p{% if form.other_equipment.errors %} class="errorlist"{% endif %}>
         {{ form.other_equipment }}
         {{ form.other_equipment.errors }}
      </p>
   </div>

   {% if object.comments %}
      <div id="comments">
         <h2>{{ form.comments.label }}</h2>
         <p{% if form.comments.errors %} class="errorlist"{% endif %}>
            {{ form.comments }}
            {{ form.comments.errors }}
         </p>
      </div>
   {% endif %}
   </form>
</div>
{% endblock %}