{% extends "root.html" %}
{% load etcetera_tags %}

{% block title %}
   Editing Checkout #{{ object.id }}
{% endblock %}

{% block fullscript %}
   <script type="text/javascript" src="/admin/jsi18n/"></script>
   <script type="text/javascript" src="/media/js/core.js"></script> 
   <script type="text/javascript" src="/media/js/admin/RelatedObjectLookups.js"></script>
   {{ form.media }}
{% endblock %}

{% block breadcrumb %}
   <a href="{% url etcetera-home %}">Home</a> &rsaquo;
   <a href="{% if object.completed %}#{% else %}{% url checkout-index %}{% endif %}">
      Checkout List
      {% if object.completed %} Archive{% endif %}
   </a> &rsaquo;
   <a href="{% url checkout-detail object.id %}">Checkout #{{ object.id }}</a> &rsaquo;
   Edit
{% endblock %}

{% block content %}
<div id="detail">
   <form action="" method="POST">
   <h1>
      {% if user.is_authenticated %}
         <span class="right">
            <input type="submit" name="save" value="save" id="save" />
         </span>
      {% endif %}
      {% if not object %}Adding a new {% endif %}
      Checkout{% if object %} #{{ object.id }}
         <span class="head">edit mode</span>
      {% endif %}
   </h1>
   
   <h2{% if form.completed.errors or form.checkout_type.errors or form.return_type.errors %} class="errorlist"{% endif %}>
      {% if object %}
         <span class="right">
            <span class="head">completed?</span> 
               {{ form.completed }} {{ form.completed.errors }}
         </span>
      {% endif %}
      Checkout type {{ form.checkout_type }} {{ form.checkout_type.errors }}<br />
      Return type {{ form.return_type }} {{ form.return_type.errors }}
   </h2>
   
   <div class="right">
      <h3>Contact information</h3>
      <table>
         <tr{% if form.phone.errors %} class="errorlist"{% endif %}>
            <td class="tablehead">{{ form.phone.label }}</td>
            <td>{{ form.phone }} {{ form.phone.errors }}</td>
         </tr>
         <tr{% if form.email.errors %} class="errorlist"{% endif %}>
            <td class="tablehead">{{ form.email.label }}</td>
            <td>{{ form.email }} {{ form.email.errors }}</td>
         </tr>
      </table>
   </div>
   
   <h3>Brief information</h3>
   <table>
      <tr{% if form.first_name.errors %} class="errorlist"{% endif %}>
         <td class="tablehead">{{ form.first_name.label }}</td>
         <td>{{ form.first_name }} {{ form.first_name.errors }}</td>
      </tr>
      <tr{% if form.last_name.errors %} class="errorlist"{% endif %}>
         <td class="tablehead">{{ form.last_name.label }}</td>
         <td>{{ form.last_name }} {{ form.last_name.errors }}</td>
      </tr>
      <tr{% if form.department.errors %} class="errorlist"{% endif %}>
         <td class="tablehead">{{ form.department.label }}</td>
         <td>{{ form.department }} {{ form.department.errors }}</td>
      </tr>
      {% if object.department_text %}
         <tr>
            <td class="tablehead">Department (user)</td>
            <td>{{ object.department_text }}</td>
         </tr>
      {% endif %}
      <tr{% if form.course.errors %} class="errorlist"{% endif %}>
         <td class="tablehead">{{ form.course.label }}</td>
         <td>{{ form.course }} {{ form.course.errors }}</td>
      </tr>
      <tr{% if form.building.errors %} class="errorlist"{% endif %}>
         <td class="tablehead">{{ form.building.label }}</td>
         <td>{{ form.building }} {{ form.building.errors }}</td>
      </tr>
      <tr{% if form.room.errors %} class="errorlist"{% endif %}>
         <td class="tablehead">{{ form.room.label }}</td>
         <td>{{ form.room }} {{ form.room.errors }}</td>
      </tr>
      <tr{% if form.returning_person.errors %} class="errorlist"{% endif %}>
         <td class="tablehead">{{ form.returning_person.label }}</td>
         <td>
            {{ form.returning_person }}
            {{ form.returning_person.errors }}
         </td>
      </tr>
      <tr{% if form.out_date.errors %} class="errorlist"{% endif %}>
         <td class="tablehead">{{ form.out_date.label }}</td>
         <td>{{ form.out_date }} {{ form.out_date.errors }}</td>
      </tr>
      <tr{% if form.return_date.errors %} class="errorlist"{% endif %}>
         <td class="tablehead">{{ form.return_date.label }}</td>
         <td>{{ form.return_date }} {{ form.return_date.errors }}</td>
      </tr>
   </table>
   
   <h3>{{ form.equipment_needed.label }}</h3>
   <p{% if form.equipment_needed.errors %} class="errorlist"{% endif %}>
      {{ form.equipment_needed }} {{ form.equipment_needed.errors }}
   </p>
   
   <h3>Personnel information</h3>
   <table>
      {% if object %}
         <tr>
            <td class="tablehead">Created by</td>
            <td>
               <a href="{% url etcetera-user object.creating_user.username %}">
                  {{ object.creating_user.get_full_name }}
               </a>
            </td>
         </tr>
      {% endif %}
      <tr{% if form.delivering_user.errors %} class="errorlist"{% endif %}>
         <td class="tablehead">{{ form.delivering_user.label }}</td>
         <td>{{ form.delivering_user }} {{ form.delivering_user.errors }}</td>
      </tr>
   </table>
   
   <h3>{{ form.other_equipment.label }}</h3>
   <p{% if form.other_equipment.errors %} class="errorlist"{% endif %}>
      {{ form.other_equipment }}
      {{ form.other_equipment.errors }}
   </p>
   
   <h3>{{ form.software.label }}</h3>
   <p{% if form.software.errors %} class="errorlist"{% endif %}>
      {{ form.software }}
      {{ form.software.errors }}
   </p>
   </form>
</div>
{% endblock %}