{% extends "root.html" %}
{% load etcetera_tags %}

{% block title %}
   Adding equipment to Checkout #{{ object.id }}
{% endblock %}

{% block breadcrumb %}
   <a href="{% url etcetera-home %}">Home</a> &rsaquo;
   <a href="{% if object.completed %}#{% else %}{% url checkout-index %}{% endif %}">
      Checkout List
   </a> &rsaquo;
   <a href="{% url checkout-detail object.id %}">
      Checkout #{{ object.id }}
   </a> &rsaquo;
   Adding equipment
{% endblock %}

{% block content %}
<div id="detail">
   <h1>Adding equipment to Checkout #{{ object.id }}</h1>
   <p>{{ form.barcodes.help_text }}</p>
   <form action="" method="POST" accept-charset="utf-8">
      <table>
         <tr>
            <td class="tablehead">{{ form.barcodes.label }}</td>
            <td>{{ form.barcodes }}</td>
            <td><input type="submit" value="Continue &rarr;"></td>
         </tr>
      </table>
   </form>
   {% if nf %}
      <div id="error" class="banner">
         The following barcodes were not found:
         {% for barcode in nf %}
            {{ barcode }}
         {% endfor %}
      </div>
   {% endif %}
   <h3>Equipment list</h3>
   {% if object.equipment_list.all %}
   <p>To remove an item, click the minus (&mdash;)
         in the <em>remove</em> column.</p>
      <table id="list">
         <tr id="headerrow">
            <td>Barcode</td>
            <td>Type</td>
            <td>Make/Model</td>
            <td>Serial</td>
            <td>Remove?</td>
         </tr>
         {% for item in object.equipment_list.all %}
            <tr class="datarow">
               <td>
                  <a href="{% url equipment-detail item.id %}">
                     {{ item.barcode }}
                  </a>
               </td>
               <td>
                  <a href="{% url equipment-detail item.id %}">
                     {{ item.equipment_type.name }}
                  </a>
               </td>
               <td>
                  <a href="{% url equipment-detail item.id %}">
                     {{ item.make.name }} {{ item.model }}
                  </a>
               </td>
               <td>
                  <a href="{% url equipment-detail item.id %}">
                     {{ item.serial }}
                  </a>
               </td>
               <td>
                  <a href="{% url checkout-eqrem object.id item.id %}">
                     &mdash;
                  </a>
               </td>
            </tr>
         {% endfor %}
      </table>
   {% else %}
      <p>No specific equipment is attached to this checkout.</p>
   {% endif %}
   <p><a href="../">Click here to return to the previous page.</a></p>
</div>
{% endblock %}